memorysetup-temp-allocator-size-main=33554432
memorysetup-temp-allocator-size-audio-worker=262144
memorysetup-temp-allocator-size-gfx=1048576
memorysetup-temp-allocator-size-job-worker=1048576
memorysetup-temp-allocator-size-background-worker=262144
memorysetup-temp-allocator-size-preload-manager=4194304
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
xr-latelatching-enabled=0
xr-latelatchingdebug-enabled=0
xr-meta-enabled=0
enable-directstorage=True
build-guid=93b593cf913845a393b3c4ebc8e06de3
